@layer components {
	dialog {
		@apply w-[96%] max-w-md border rounded-lg bg-background shadow-lg text-foreground backdrop:backdrop-blur-sm backdrop:bg-background p-5;
	}

	dialog::backdrop {
		animation: scaleInWithFadeKeyFrame 0.4s ease-in-out;
	}

	.scaleInWithFadeKeyFrame {
		animation: scaleInWithFadeKeyFrame 0.4s ease-in-out;
	}

	@keyframes scaleInWithFadeKeyFrame {
		from {
			opacity: 0;
			transform: scale(0.9);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
}
